@vibrent:registry=https://nex.vibrenthealth.com/repository/vibrent-npm/
registry=https://nex.vibrenthealth.com/repository/npm/
always-auth=true
email=mcdev@vibrenthealth.com
_auth=dmlicmVudC1kZXY6c0dTdjliaGpOd1pN